
.player-cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: rgb(221, 197, 118);
}

.player-cards :hover {
    background-color: rgb(106, 180, 216);
}

.form-button:hover {
    background-color: #0056b3;
}